import React from 'react';
import PropTypes from 'prop-types';
import styles from './{{pascalCase pkg}}{{pascalCase name}}.module.css';

import 'devextreme/dist/css/dx.common.css';
import 'devextreme/dist/css/dx.light.css';

import {{pascalCase pkgcomp}} from 'devextreme-react/{{lowerCase pkgcomp}}';

const {{pascalCase pkg}}{{pascalCase name}} = props => {
  return (
    <div className={styles.root}>
      <{{pascalCase pkgcomp}} />
    </div>
  );
};

{{pascalCase pkg}}{{pascalCase name}}.defaultProps = {

};

{{pascalCase pkg}}{{pascalCase name}}.propTypes = {

};

export default {{pascalCase pkg}}{{pascalCase name}};
